<div id="kt_aside" class="aside bg-primary" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="auto" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">
  <div class="aside-logo d-none d-lg-flex flex-column align-items-center flex-column-auto py-8" id="kt_aside_logo">
    <a>
      <img alt="Logo" src="img/logo.svg" class="h-55px" />
    </a>
  </div>
  <div class="aside-nav d-flex flex-column align-lg-center flex-column-fluid w-100 pt-5 pt-lg-0" id="kt_aside_nav">
    <div id="kt_aside_menu" class="menu menu-column menu-title-gray-600 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-6" data-kt-menu="true">
      <div class="menu-item {:MENU1:} py-3">
        <a class="menu-link menu-center" href="/?menu=main" title="Execution Queue" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
          <span class="menu-icon me-0">
            <i class="bi bi-alarm-fill fs-2"></i>
          </span>
        </a>
      </div>
      <div class="menu-item {:MENU2:} py-3">
        <a class="menu-link menu-center" href="/?menu=my_jobs" title="Your Jobs" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
          <span class="menu-icon me-0">
            <i class="bi bi-person-square fs-2"></i>
          </span>
        </a>
      </div>
      <div class="menu-item {:MENU3:} py-3">
        <a class="menu-link menu-center" href="/?menu=leader" title="Leaderboard" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
          <span class="menu-icon me-0">
            <i class="bi bi-trophy-fill fs-2"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="aside-footer d-flex flex-column align-items-center flex-column-auto" id="kt_aside_footer"></div>
</div>
