<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../../../" />
    <title>TryCubic</title>
    <meta charset="utf-8" />
    <meta name="description" content="Code 3D display yourself now!" />
    <meta name="keywords" content="python, learning, coding" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="TryCubic" />
    <meta property="og:url" content="https://github.com/dk731/3D-Led-Cube" />
    <meta property="og:site_name" content="TryCubic" />
    <link rel="shortcut icon" href="img/black_circle_logo.svg" />
    <link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
  </head>
  <body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-disabled">
    <div class="d-flex flex-column flex-root">
      <div class="page d-flex flex-row flex-column-fluid">
        {:ASIDE:}
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
          <div id="kt_header" style="" class="header bg-white align-items-stretch">
            <div class="container-fluid d-flex align-items-stretch justify-content-between">
              <div class="d-flex align-items-center d-lg-none ms-n3 me-1" title="Show aside menu">
                <div class="btn btn-icon btn-active-color-primary w-40px h-40px" id="kt_aside_toggle">
                  <span class="svg-icon svg-icon-2x mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="black" />
                      <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="black" />
                    </svg>
                  </span>
                </div>
              </div>
              <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                <a class="d-lg-none">
                  <img alt="Logo" src="img/logo.svg" class="h-30px" />
                </a>
              </div>
              <div class="d-flex align-items-center" id="kt_header_wrapper">
                <div class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-20 pb-2 pb-lg-0" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_wrapper'}"></div>
              </div>
              <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                <div class="d-flex align-items-stretch" id="kt_header_nav">
                  <div class="header-menu align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_header_menu_mobile_toggle" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav'}"></div>
                </div>
                <div class="d-flex align-items-stretch justify-self-end flex-shrink-0">
                  <div class="d-flex align-items-stretch flex-shrink-0">
                    <div class="d-flex align-items-center ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
                      <div class="cursor-pointer symbol symbol-30px symbol-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                        <img src="{:AVATAR:}" alt="user" />
                      </div>
                      <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px" data-kt-menu="true">
                        <div class="menu-item px-3">
                          <div class="menu-content d-flex align-items-center px-3">
                            <div class="symbol symbol-50px me-5">
                              <img alt="Logo" src="{:AVATAR:}" />
                            </div>
                            <div class="d-flex flex-column">
                              <div class="fw-bolder d-flex align-items-center fs-5">{:USERNAME:}</div>
                            </div>
                          </div>
                        </div>
                        <div class="separator my-2"></div>
                        <div class="menu-item px-5">
                          <a href="/open_profile?user_id={:USER_ID:}" class="menu-link px-5">My Profile</a>
                        </div>
                        <div class="separator my-2"></div>
                        <div class="menu-item px-5">
                          <a href="/signout" class="menu-link px-5">Sign Out</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <div class="container-xxl" id="kt_content_container">
              {:PROFILE:}
              <div class="row g-5">
                <div class="col-12">
                  <div class="card card-xxl-stretch">
                    <div class="card-header border-0 pt-6">
                      <div class="card-title"></div>
                      {:UPLOAD_BTN:}
                    </div>
                    <div class="card-body pt-0">
                      <table id="kt_datatable_example_1" class="table align-middle table-row-dashed table-striped fs-6 gy-5">
                        <h1>{:TABLE_NAME:}</h1>
                        <thead>
                          <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0" id="columns_holder">
                            {:LIST_LAY:}
                          </tr>
                        </thead>
                        <tbody class="text-gray-600 fw-bold"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="kt_modal_add_customer" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered mw-650px">
                  <div class="modal-content">
                    <form class="form" action="#" id="kt_modal_add_customer_form">
                      <div class="modal-header" id="kt_modal_add_customer_header">
                        <h2 class="fw-bolder">Add a Project</h2>
                        <div id="kt_modal_add_customer_close" class="btn btn-icon btn-sm btn-active-icon-primary">
                          <span class="svg-icon svg-icon-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                              <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                            </svg>
                          </span>
                        </div>
                      </div>
                      <div class="modal-body py-10 px-lg-17">
                        <div class="scroll-y me-n7 pe-7" id="kt_modal_add_customer_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_customer_header" data-kt-scroll-wrappers="#kt_modal_add_customer_scroll" data-kt-scroll-offset="300px">
                          <div class="fv-row mb-7">
                            <label class="required fs-6 fw-bold mb-2">Title</label>
                            <input type="text" class="form-control form-control-solid" placeholder="" name="note" value="" id="note_input" />
                          </div>
                          <div class="fv-row mb-7">
                            <div class="dropzone" id="kt_dropzonejs_example_1">
                              <div class="dz-message needsclick">
                                <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                                <div class="ms-4">
                                  <h3 class="fs-5 fw-bolder text-gray-900 mb-1">Drop files here or click to upload.</h3>
                                  <span class="fs-7 fw-bold text-gray-400">Upload up to 5 files</span>
                                </div>
                              </div>
                            </div>
                            <input type="hidden" class="form-control form-control-solid" placeholder="" name="files_upload" value="" />
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer flex-center">
                        <button type="reset" id="kt_modal_add_customer_cancel" class="btn btn-light me-3">Close</button>
                        <button type="submit" id="kt_modal_add_customer_submit" class="btn btn-primary">
                          <span class="indicator-label">Submit</span>
                          <span class="indicator-progress">Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
            <div class="container-xxl d-flex flex-column flex-md-row flex-stack"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
      <span class="svg-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="black" />
          <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="black" />
        </svg>
      </span>
    </div>
    <script>
      const current_columns = [];
      Array.from(document.getElementById("columns_holder").children).forEach((el) => {
        current_columns.push({ data: el.getAttribute("db_name") });
      });
    </script>
    <script>
      var hostUrl = "assets/";
    </script>

    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>
    <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="assets/js/custom/apps/customers/list/list.js"></script>
    <script src="js/add.js"></script>
    <script src="assets/js/custom/widgets.js"></script>
    <script src="js/list.js"></script>
  </body>
</html>
